<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>{% block title %} {% endblock  %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Ucoder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %}{% endblock homeactive %} ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block aboutactive %}{% endblock aboutactive %}">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item {% block blogactive %}{% endblock blogactive %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item {% block contactactive %}{% endblock contactactive %}">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>

      </ul>
      <div class="ml-auto form-inline">
      <form method="get" action="/search" class=" my-2 my-lg-0 mx-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="query">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
      
      <ul class="navbar-nav mr-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      </ul>
      
      
       {% else %}
      <!-- Button to trigger Login modal -->
      <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#loginModal">
        Login
      </button>

      <!-- Button to trigger sign up modal -->
      <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signupModal">
        SignUp
      </button>
     
     
      {% endif %}
      </div>
    </div>
  </nav>
  {% for message in messages%}
  <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

{% csrf_token %}
  <!--Sign up Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModal">SignUp Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/signup' method='post'>

            <div class="form-group">
              <label for="username">Username </label>
              <input type="text" class="form-control" id="username" name="username" placeholder="choose a unique Username (Lowercase & alphanumeric)" required>
            </div>

            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="first name" required>
            </div>

            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="last name" required>
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            </div>

            <div class="form-group">
              <label for="pass1">Choose a Password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password" required>
            </div>

            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter Your Password Again" required>
            </div>

  
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          
          
        </div>
      </div>
    </div>
  </div>

  <!--Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/login' method='post'>
          {% csrf_token %}

            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter Username" required>
            </div>

            
            <div class="form-group">
              <label for="pass">Password</label>
              <input type="password" class="form-control" id="loginpass" name="loginpass" placeholder="Enter Password" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          
          
        </div>
      </div>
    </div>
  </div>
{% csrf_token %}
  {% block body %}
  {% endblock body %}
  {% block js %}
  {% endblock js %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>